{% extends 'base.html' %}
{% load static %}
{% block section %}
 	<h2>Habitacion</h2>
 	<hr>
{% endblock section %}
{% block maincontent %}
 	<div class="row well">
 		{% for p in object_list.all %}
 			<div class="col-md-4 well">
 				<div class="panel panel-primary">
 					<div class="panel-heading">
						 <h3 class="panel-numero">{{ p.numero }}</h3>
 					</div>

 		</div>
 	</div>
{% endfor %}
</div>
    <section class="site-section bg-light">
      <div class="container">
        <div class="row ">
          <div class="col-md-7">
            <div class="media d-block room mb-0">
              <figure>
                <img src="http://papaveraceous-surpl.000webhostapp.com/images/img1.jpg" alt="Generic placeholder image" class="img-fluid">
                <div class="overlap-text">
                </div>
              </figure>
              <div class="media-body">
                <h3 class="mt-0"><a href="#">Habitaciones</a></h3>
                <p>Se ofrecen las mejores habitaciones de pasto, o tambien se alquila
                para eventos</p>
                <p><a href="#" class="btn btn-primary btn-sm">Costo desde $200.000</a></p>
              </div>
            </div>
          </div>
          <div class="col-md-5 room-thumbnail-absolute">
            <a href="#" class="media d-block room bg first-room" style="background-image: url(http://papaveraceous-surpl.000webhostapp.com/images/img10.jpg); ">
              <!-- <figure> -->
                <div class="overlap-text">
                  <span>
                    Habitacion
                  </span>
                  <span class="pricing-from">
                    from $150.000
                  </span>
                </div>
              <!-- </figure> -->
            </a>

            <a href="#" class="media d-block room bg second-room" style="background-image: url(http://papaveraceous-surpl.000webhostapp.com/images/img14.jpg); ">
              <!-- <figure> -->
                <div class="overlap-text">
                  <span>
                    Habitacion
                  </span>
                  <span class="pricing-from">
                    from $200.000
                  </span>
                </div>
              <!-- </figure> -->
            </a>
            
          </div>
        </div>
      </div>
    </section>
{% endblock maincontent %} 
