{% extends 'base.html' %}
{% load static %}

{% block section %}
 	<h2>
 		{{ object.tipo }}
 		{% if object.tipo %}
 			&#9733;
		{% else %}
 			&#9734;
 		{% endif %}
 		{% if object.id %}
			 ( <a href="{% url "reserva-detail" object.id %}">{{object.reserva }}</a> )
 		{% endif %}
 	</h2>
 	<p><strong>comments: </strong>{{ object.comment|default:"no comments" }}</p>
 	<a href="{% url "tiporeservacion-update" object.id %}">edit</a>
 	<a href="{% url "tiporeservacion-delete" object.id %}">delete</a>
 	<hr>
{% endblock section %}

{% block maincontent %}
<div>
 	<div>
 		<img src="{% static object.photo.url %}"style="width:550px;height:420px"/>
 	</div>
</div>
{% endblock maincontent %} 